
<h1>Colin's Hair Emporium</h1>

<h2>Link to stylist page.</h2>
<input type="button" name="button" class="button1"  />
<p><a href='/stylists/new'>Add a New Stylist<a/></p>

<h2>Link to client list.</h2>
<input type="button" name="button2" class="button2"  />

<h2>Link to Specialties and stylists who offer them.</h2>
<input type="button" name="button2" class="button2"  />
<p><a href='/specialties/new'>Add a New Specialty<a/></p>
